body {
    font-family: Arial, sans-serif;
    margin-left: 50px;
    padding: 0;
    background-color: #404242;
    color: #FFC733;
    line-height: 1.6;
}

header {
    background: #FFC733;
    color: #404242;
    padding: -20px;
    text-align: center;
}

nav ul {
	display: flex;
    background: #404242;
    padding: 10px;
    list-style: none;
    text-align: center;
}

p {
    color: white;
    text-decoration: none;
}
h2 {
    color: #FFC733;
    text-decoration: none;
}

h3 {
    color: #FFC733;
    text-decoration: none;
}


ul li{
	color: white !important;
    transition: color 0.3s ease-in-out;
}

nav ul li a {
	color: white !important;
    transition: color 0.3s ease-in-out;
}

section {
    padding: 20px;
}

.about-container {
    display: flex;
    align-items: center;
}
.profile-image {
    display: block;
    width: 20px;
    height: auto;
	border-radius: 50%;
    border: 1px solid #FFB347;
	margin-left: 20px;
}

.small-image {
    display: block;
    width: 10px;
    height: auto;
	object-fit: contain;
	margin-left: 20px;
}

footer {
    text-align: center;
    padding: 5px 10px;
    background: #404242; /* Changed background to black */
    color: white;
    border: 1px solid #FFB347; /* Thin yellow border */
	display: inline-block;
	width: auto;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #FFD166;
    transition: width 0.4s ease-in-out;
}

.underline:hover::after {
    width: 100%;
}

.code-box {
    background-color: #f4f4f4;
    padding: 0px;
    border-radius: 5px;
    font-family: monospace;
	display: inline-block;
}