@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    background-image: url('images/dark.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the header */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    backdrop-filter: brightness(50%);
    color: #FFC733;
    line-height: 1.6;
}

.header {
    background-image: url('images/backgroundheader.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the header */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    height: 50px; /* Adjust height as needed */
    color: #404242;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav ul {
	display: flex;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-left: 5px;
}

p {
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

h1 {
    color: #404242;
    text-decoration: none;
    padding-left: 5px;
}

h2 {
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

h3 {
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

ul {
    padding: 0;
}

ul li {
    color: white !important;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    padding-left: 5px;
}

nav ul li a {
    color: white !important;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    padding-left: 5px;
}

.about-container {
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.profile-image {
    display: block;
    width: 180px;
	border-radius: 50%;
    height: auto;
	margin-left: 20px;
}

.small-image {
    display: block;
    width: 30px;
    height: auto;
	object-fit: contain;
    fill: lightgray;
}

footer {
    color: white; /* White text */
    text-align: center; /* Centers the text */
    padding: 5px;
    bottom: 0;
    border-top: 1px solid #FFB347;
    font-size:smaller;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #FFD166;
    transition: width 0.4s ease-in-out;
}

.underline:hover::after {
    width: 100%;
}

.code-box {
    background-color: #404242;
    border-radius: 5px;
    font-family: monospace;
	display: inline-block;
}

.container {
    display: flex; /* Enables flexbox layout */
    align-items: flex-start;
    padding-left: 5px;
}

.box {
    width: 80px; /* Adjust width */
    height: 30px; /* Adjust height */
    min-width: 80px;
    background-color: #FFC733;
    color: #404242;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; /* Adds space between the box and the text */
    padding-left: 5px;
}

.box-2 {
    width: 130px; /* Adjust width */
    height: 30px; /* Adjust height */
    min-width: 130px;
    background-color: #FFC733;
    color: #404242;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; /* Adds space between the box and the text */
    padding-left: 5px;
}

.line {
    height: 1px;
    background-color: #FFB347;
}